.header img {
      width:100px;
      height:100px;
      float:left;
}

.header h1 {
     font-family:sans-serif;
     float: left;
     margin-left: 10 px;
     width:640 px;
}

.nav ul{
      clear:both;
      margin-left: 20px;
 }
 
.nav li
     list-style-type:none;
     display:inline;
     padding-left:5px;
}
     
     
     
   
