.header img{
    width: 100px;
    height:100px;
    float: left;
 }

.header h1 {
float:left;
  font-family: sans-serif;
  margin-left: 10px
 width:640px;
 }
 
 .nav {
     clear.both;
     list-style-type: none;
    
     
     }
  .nav li{
        
        display:inline;
        padding-left:5px;
        }
.product{
    list-style-type:none;}
